<% if user_signed_in? && current_user.id != user.id %>
	<span class="user_follow">
	<% if current_user.following?(user) %>
		<%= link_to '<button id="following_button">Following</button>'.html_safe, user_follow_path(user_id: user.id, id: current_user.id),method: :delete, remote: true %>
	<% else %>
		<%= link_to '<button id="follow_button">Follow</button>'.html_safe, user_follows_path(user_id: user.id), method: :post, remote: true	 %>
	<% end %>
	</span> 	
<% end %>

<ul class="followers_following_lists">
	<li class="lists bold_black"><%= pluralize(@user.posts.count, 'post') %></li>

	<% if user_signed_in? %>
		<li class="lists bold_black"><%= @user.followers_count %> <%= link_to 'Followers', user_follower_path(user_id: @user.id, id: current_user.id ) %></li>
		<li class="lists bold_black"><%= @user.follow_count %> <%= link_to 'Following', user_following_path(user_id: @user.id, id: current_user.id) %></li>
	<% end %>

</ul>