<div class="prof_page">
	<div class="prof_header">
		<div class="row">
			<div class="col-xs-4">
				<%= image_tag @user.photo,class: 'prof_pic' %>
			</div>

			<div class="col-xs-8">
				<div class="user_header">
					<div class="row">
						<div class="username">
							<%= @user.name %>
							
							<span id="follow_container_<%= @user.id %>">
							<%= render partial: 'follow_n_following', locals: {user: @user} %>
							</span>
						</div>

						<div class="col-xs-6">
							<%= link_to 'Edit Profile', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default bold_black' if user_signed_in? && @user==current_user %>
						</div>


					</div>
				</div>
			</div>
		</div>
		<hr>
	</div>

	<div class="prof_post_box">
		<div class="row">
			<% @user.posts.each do |post| %>
				<div class="col-xs-4">
					 <%= link_to image_tag((post.photo), class: 'user_profile_photos'), post_path(post.id) %>
				</div>
			<% end %>
		</div>
	</div>
</div>