<div class="prof_page">
	<div class="prof_header">
		<div class="row">
			<div class="col-xs-4">
				<%= image_tag @user.photo,class: 'prof_pic' %>
			</div>

			<div class="col-xs-8">
				<div class="user_header">
					<div class="row">
						<div class="username">
							<%= @user.name %>
							<% if user_signed_in? && current_user.id != @user.id %>
								<span class="user_follow">
									<% if current_user.following?(@user) %>
										<%= link_to '<button id="following_button">Following</button>'.html_safe, user_follow_path(user_id: @user.id),method: :delete,remote: true %>
									<% else %>
										<%= link_to '<button id="follow_button">Follow</button>'.html_safe, user_follows_path(user_id: @user.id), method: :post,remote: true %>
									<% end %>
								</span>
							<% end %>
						</div>

						<div class="col-xs-6">
							<%= link_to 'Edit Profile', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default bold_black' if user_signed_in? && @user==current_user %>
						</div>


					</div>
				</div>

				<ul class="followers_following_lists">
					<li class="lists bold_black"><%= pluralize(@user.posts.count, 'post') %></li>
					<li class="lists bold_black"><%= @user.followers_count %> <%= link_to 'Followers', user_follower_path(user_id: @user.id) %></li>
					<li class="lists bold_black"><%= @user.follow_count %> <%= link_to 'Following', user_following_path(user_id: @user.id) %></li>
				</ul>
			</div>
		</div>
		<hr>
	</div>

	<div class="prof_post_box">
		<div class="row">
			<% @user.posts.each do |post| %>
				<div class="col-xs-4">
					 <%= link_to image_tag((post.photo), class: 'user_profile_photos'), post_path(post.id) %>
				</div>
			<% end %>
		</div>
	</div>
</div>